* {
    margin: 0;
    padding: 0;
}
.mainbody {
    position: relative;
    height: 110vh;
    width: 98.8vw;
    overflow-x: hidden;
    background-color: rgb(22, 22, 22);
}
.logo {
    background: transparent;
    margin-top: 24px;
    margin-left: 154px;
}
.logo svg {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentcolor;
    display: block;
}
@media (min-width: 600px) {
    .mainbody::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("SIGNIN IMAGES/BODY IMAGE.jpg") top no-repeat;
        background-size: 162.8%;
        filter: brightness(0.5);
        z-index: 0;
    }
    .mainbody > * {
        position: relative;
        z-index: 1;
    }
}